body{ overflow: hidden;}
form {
  border-radius: 3%;
  width: 40%;
  margin: 5% auto;
  padding: 5% 0;
  /*background-color:transparent/* #013289;*/
 /* box-shadow: 0 0 20px 2px rgb(107, 118, 177); #4154f1; #013289;; */
}
.input-box{
  width: 80%;
  margin: 5% auto;
  padding-top: 5%;
  border-bottom: 1px solid white;
  /*box-shadow: (0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;  rgba(0,0,0,0.5);*/
}
h1{color:white;
  text-align: center;
}
.input-box input {

  font-size: 17px;
  width: 90%;
  border:none;
  outline: none;
  background-color: transparent;
  color:white;
}
::placeholder {color:white;}
/*CSS pour eye*/
.eye{
  position: absolute;
}
#eye2{
  display: none;
}
.input-submit input{
  margin: 5% 10%;
  width: 80%;
  border-color: white;
  font-size: 17px;
  background-color: transparent;
  color: white;
  padding: 12px;
  cursor: pointer;

}
.input-submit input:hover{background-color: #0c42a0;}
.fa{
  margin-right: 10px;
  color:white;
}
p{
  color:white;
  margin-left: 10%;
}
a{ color: red;}
